<p id="notice"><%= notice %></p>

<p>
  <img src="<%= @student.pic_url%> " style="height:30em;width:30em">
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>


<%= link_to 'Back', students_path %>
